/*.root
/log/*
!/log/.gitkeep

/macros/test.cc
/macro/*.root
/macro/req_analysis/*.root
/macro/req_analysis/*.png
/Tfile/*
!/Tfile/.gitkeep

/requirement/*
!/requirement/.gitkeep

/png/*
!/png/.gitkeep

/wrapper/*
!/wrapper/.gitkeep

/checkresult/sample/*
!/checkresult/sample/.gitkeep

